<p id="notice"><%= notice %></p>
<p>
  <strong>Nombre:</strong>
  <%= @capitulo.nombre %>
</p>
<p><%= notice %></p>
<%= link_to 'Edit', edit_capitulo_path(@capitulo) %> |
<%= link_to 'Back', capitulos_path %>
