<%= form_with(model: @factura, local: true) do |form| %>
  <div class="actions text-right">
    <%= form.submit class: "btn btn-primary" %>
  </div>
  <% if @factura.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@factura.errors.count, "error") %> evitan que esta factura sea guardada</h2>
      <ul>
        <% @factura.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
    <% end %>
    
  <div class="form-group row">
    <%= form.label :objeto, class: "col-sm-2 col-form-label" %>
    <div class="col-sm-10">
      <%= form.text_field :objeto, class: "form-control form-control-sm" %>
    </div>    
  </div>


<table class="table">
  <thead>
    <th><%= form.label :producto_id %></th>
    <th><%= form.label :precio%></th>
    <th><%= form.label :cantidad %></th>
    <th><%= form.label :total %></th>
  </thead>
  <tbody>
    <tr>
	    <td><%= form.select :producto_id, options_for_select(@productos, @vendido.producto_id), class: "form-control" %></td>
	    <td><%= form.text_field :precio, class: "form-control" %></td>
	    <td><%= form.text_field :cantidad, class: "form-control" %></td>
	    <td><%= form.text_field :total, class: "form-control" %></td>
    </tr>
  <%= (@factura.detalles.count > 0) ? render(partial: 'vendidos', locals: {venta: @venta, show_actions: true }) : 'No hay detalles cargados' %>
  </tbody>
  </table>
<% end %>
  
 <%= link_to "Nuevo detalle", new_vendido_path(transaccion_id: @factura.id), remote: true, class: "btn btn-info" %>
<%= javascript_pack_tag 'vendido'%>