<%= form_with(model: @factura, local: true) do |form| %>
  <div class="actions">
    <%= form.submit %>
  </div>
  <% if @factura.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@factura.errors.count, "error") %> evitan que esta factura sea guardada</h2>
      <ul>
        <% @factura.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
    <% end %>
    
  <div class="field">
    <%= form.label :almacen_id %>
    <%= form.collection_select :almacen_id, Almacen.all, :id, :nombre %>
  </div>
  
  <div class="field">
    <%= form.label :fecha %>
    <%= form.text_field :fecha %>
  </div>

  <div class="field">
    <%= form.label :objeto %>
    <%= form.text_field :objeto %>
  </div>

  <div class="field">
    <%= form.label :glosa %>
    <%= form.text_field :glosa %>
  </div>

  <div class="field">
    <%= form.label :estado %>
    <%= form.text_field :estado %>
  </div>
<% end %>

  <div class="panel-body" id="vendidos">
    <%= (@factura.detalles.count > 0) ? render(partial: 'vendidos', locals: {venta: @venta, show_actions: true }) : 'No hay detalles cargados' %>
  </div>
 <%= link_to "Nuevo detalle", new_vendido_path(transaccion_id: @factura.id), remote: true, class: "btn btn-info" %>
