<p id="notice"><%= notice %></p>
<p><strong>capitulo:</strong></p>
<p><%= @categoria.capitulo.nombre %></p>
<p><strong>nombre:</strong></p>
<p><%= @categoria.nombre %></p>
<%= link_to 'Edit', edit_categoria_path(@categoria) %> |
<%= link_to 'Back', categorias_path %>
