<%= form_with(model: comprado, local: true) do |form| %>
  <% if comprado.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(comprado.errors.count, "error") %> prohibited this comprado from being saved:</h2>

      <ul>
        <% comprado.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
    <% end %>
    
  <div class="field">
    <%= form.label :transaccion_id %>
    <%= form.collection_select :transaccion_id, Compra.all, :id, :glosa %>
  </div>
  
  <div class="field">
    <%= form.label :producto_id %>
    <%= form.select :producto_id, options_for_select(@productos, @comprado.producto_id) %>
  </div>

  <div class="field">
    <%= form.label :precio %>
    <%= form.text_field :precio%>
  </div>

  <div class="field">
    <%= form.label :cantidad %>
    <%= form.text_field :cantidad %>
  </div>

  <div class="field">
    <%= form.label :total %>
    <%= form.text_field :total %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
<%= javascript_pack_tag 'comprado'%>