<p id="notice"><%= notice %></p>

<h1>Inventarios</h1>
<%= link_to 'New Inventario', new_inventario_path %>

<table>
  <thead>
    <tr>
      <th>Almacen</th>
      <th>Fecha</th>
      <th>Objeto</th>
      <th>Glosa</th>
      <th>Estado</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @inventarios.each do |inventario| %>
      <tr>
      <td><%= inventario.almacen.nombre %></td>
      <td><%= inventario.fecha %></td>
      <td><%= inventario.objeto %></td>
      <td><%= inventario.glosa %></td>
      <td><%= inventario.estado %></td>
        <td><%= link_to 'Show', inventario %></td>
        <td><%= link_to 'Edit', edit_inventario_path(inventario) %></td>
        <td><%= link_to 'Destroy', inventario, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

