<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Erpdb" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Erpdb" %>">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
<nav class="navbar navbar-expand-md bg-secondary navbar-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar" aria-controls="collapsibleNavbar" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="/">e-ventas</a>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav" mr-auto mt-2 mt-lg-0>
      <% if user_signed_in? %>
      <li class="nav-item"><%= link_to "Hola, #{current_user.email}", edit_user_registration_path, class: "nav-link" %></li>
      <li class="nav-item"><%= link_to "Salir", destroy_user_session_path, method: :delete, class: "nav-link" %></li>
      <li class="nav-item dropdown">
	<a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">Listos</a>
	<div class="dropdown-menu">
	  <%= link_to "Ventas", ventas_path, class: "dropdown-item href='#'" %>
	  <%= link_to "Factura", new_factura_path, class: "dropdown-item href='#'" %>
	</div>
      </li>
      <% else %>
      <li class="nav-item"><%= link_to "Ingresar", new_user_session_path, class: "nav-link" %></li>
      <li class="nav-item"><%= link_to "Registrarse", new_user_registration_path, class: "nav-link" %></li>
      <% end %>
    </ul>
  </div>
</nav>
    <main role="main">
       <%= render 'layouts/messages' %>
       <%= yield %>
    </main>
  </body>
</html>
