<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Erpdb" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Erpdb" %>">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
<ul>
<% if user_signed_in? %>
<li><%= link_to "Hola, #{current_user.email}", edit_user_registration_path %></li>
<li><%= link_to "Salir", destroy_user_session_path, method: :delete %></li>
<% else %>
<li><%= link_to "Ingresar", new_user_session_path %></li>
<li><%= link_to "Registrarse", new_user_registration_path %></li>
<% end %>
</ul
    <main role="main">
       <%= render 'layouts/messages' %>
       <%= yield %>
    </main>
  </body>
</html>
